---
layout: default
title: Tags
permalink: /tags/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}
<!-- begin tags -->
<section class="section tags">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
  <div class="tags__inner is-hidden" id="{{ this_word | cgi_escape }}">
    <div class="container">
      <div class="tag__info">
        <h1 class="tag__title">{{ this_word }} <span class="tag__counter">{{ site.tags[this_word].size }}</span></h1>
      </div>
    </div>
    <div class="container">
      <div class="post-table">
        {% for post in site.tags[this_word] %}
          <div class="post">
            {% if post.href %}
              <a href="{{ post.href }}">
            {% endif %}
            <div class="post-image">
              <img src="{{ post.image }}" alt="{{ post.title }}">
            </div>
            {% if post.href %}
              </a>
            {% endif %}
            <div class="post-info">
              <h2 class="post-title">{{ post.title }}</h2>
              <p class="post-description">{{ post.description }}</p>
              <div class="post-meta">
                {% if post.tags %}
                  <div class="post-tags">
                    {% for tag in post.tags %}
                      <a href="{{ site.baseurl }}/tags/?tag={{ tag | cgi_escape }}" class="tag-button">{{ tag }}</a>
                    {% endfor %}
                  </div>
                {% endif %}
                {% if post.date %}
                  <span class="article__date">•<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b, %Y" }}</time></span>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endunless %}{% endfor %}
</section>
<!-- end tags -->

{% assign start_year = 2012 %}
{% assign end_year = 2024 %}
{% assign years = "" | split: ',' %}

{% for year in (start_year..end_year) %}
  {% assign years = years | push: year %}
{% endfor %}

{% for p in years %}
  {% assign year_info = p | append : "" %}
  <!-- Tags by Year -->
  <section class="section tags">
    <div class="container">
      <h2 class="tag__title">{{ year_info }}</h2>
      <h2 style="text-align: center;">{{ year_info }}</h2>

      <section class="section tags">
        <div class="tags__inner is-hidden" id="{{ year | cgi_escape }}">
          <div class="container">
            <div class="tag__info">
              <h1 class="tag__title">{{ year_info }} 
            </div>
          </div>
          <div class="container">  
          </div>
        </div>
      </section>
    </div>
  </section>
{% endfor %}


{% include section-subscribe.html %}



<script>
  var tag_name = window.location.search.replace("?tag=", "#");
  if (tag_name) {
    var el = document.querySelector(tag_name);
    el.classList.remove("is-hidden");
  }
</script>


