.container {
  max-width: 960px;
  margin: 0 auto;
}

.page-section-head {
  margin-top: 40px;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--border-color);
}

.page-title {
  font-size: 32px;
  margin-bottom: 16px;
}

.page-description {
  font-size: 18px;
  margin-bottom: 0;
}

.post-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}


.post__tags {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;

  .post__tag {
    padding: 6px 16px;
    margin: 3px 6px 3px 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 60px;
    color: var(--heading-font-color);
    transition: $global-transition;
    background-color: var(--background-alt-color);

    &:hover {
      background-color: var(--background-alt-color-2);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}


.post {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
}

.post-image img {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Prevent image distortion */
}

.post-info {
  padding: 20px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 8px;
  width: 100%; /* Increase the heading width */
}

.post-description {
  font-size: 16px;
  margin-bottom: 0;
}
