/* Main Page */
.container {
  max-width: fit-content; /* Adjust max-width to match tag page CSS */
  margin: 0 auto; /* Center the container */
}

.page-section-head {
  margin-top: 60px; /* Adjust margin-top to match tag page CSS */
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--border-color);
}

.page-title {
  font-size: 32px; /* Adjust font size to match tag page CSS */
  margin-bottom: 0;
}

.page-description {
  font-size: 18px; /* Adjust font size to match tag page CSS */
  margin-bottom: 0;
}

.post-table {
  display: flex; /* Change display to flex to match tag page CSS */
  flex-wrap: wrap; /* Wrap items */
  justify-content: space-between; /* Align items evenly */
  gap: 30px; /* Adjust gap between items */
}

.post {
  width: calc(25% - 30px); /* Adjust width of each item to match tag page CSS */
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.post-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-info {
  padding: 20px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.post-description {
  font-size: 16px;
  margin-bottom: 16px;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}

.tag-button {
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  color: var(--primary-color);
  background-color: transparent;
  transition: all 0.3s ease;
}

.explore-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 56px;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.tag-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}
