---
layout: default
title: Team
description: Welcome to our Lab's Team Page: Where Innovation Meets Collaboration!
---

<div class="team-container">
  <div class="page-section-head">
    <h1 class="page-title">Team</h1>
    <p class="page-description">Welcome to our Lab's Team Page: Where Innovation Meets Collaboration!</p>
  </div>

  <div class="team-grid">
    {% assign zarifeh_seen = false %}
    {% assign simar_seen = false %}
    {% assign hanxi_seen = false %}

    <h2 class="team-title">Professor Incharge</h2>
    {% for member in site.data.team %}
      {% if member.is_current == true %}
        {% if member.name == "Zarifeh Heidari Rarani" and zarifeh_seen == false %}
          <div class="team-member-separator"></div><br>
          <h2 class="team-title">Postdocs</h2>
          {% assign zarifeh_seen = true %}
        {% elsif member.name == "Hanxi Xiao" and hanxi_seen == false %}
          <div class="team-member-separator"></div>
          <h2 class="team-title">Grad Students</h2><br>
          {% assign hanxi_seen = true %}
        {% elsif member.name == "Simar Yadav" and simar_seen == false %}
          <div class="team-member-separator"></div>
          <h2 class="team-title">Undergraduates and Masters Students</h2><br>
          {% assign simar_seen = true %}
        {% endif %}

        <div class="team-member">
          <div class="image-container">
            <img src="{{ member.photo | prepend: site.baseurl }}" alt="{{ member.name }}">
            <div class="member-details">
              <p class="member-bio">{{ member.bio }}</p>
            </div>
          </div>
          <div class="member-footer">
            <p class="member-name">{{ member.name }}</p>
            <p class="member-title">{{ member.position }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="alumni-section">
  <h2 style="text-align: center;" class="section-heading">Alumni</h2>
  <div class="alumni-container">
    <!-- Rotation Students Section -->
    <div class="alumni-subsection">
      <h3 class="subsection-heading">Rotation Students</h3>
      <div class="subsection-content">
        {% for member in site.data.team %}
          {% if member.is_current == false and member.is_rotation == true %}
            <p>{{ member.name }} - {{ member.position }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Interns Section -->
    <div class="alumni-subsection">
      <h3 class="subsection-heading">Interns</h3>
      <div class="subsection-content">
        {% for member in site.data.team %}
          {% if member.is_current == false and member.is_intern == true %}
            <p>{{ member.name }} - {{ member.position }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Past Lab Members Section -->
    <div class="alumni-subsection">
      <h3 class="subsection-heading">Past Lab Members</h3>
      <div class="subsection-content">
        {% for member in site.data.team %}
          {% if member.is_current == false and member.is_rotation != true and member.is_intern != true %}
            <p>{{ member.name }} - {{ member.position }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include section-faq.html %}
{% include section-subscribe.html %}

<style>
.team-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 20px; /* Adjusted gap between grid items */
}

.team-member {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for a subtle effect */
  width: 100%; /* Ensure uniform width */
  height: 400px; /* Increased height for bigger images */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image-container {
  position: relative;
  width: 100%;
  height: 85%; /* Adjusted to make the image bigger */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container .member-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  transition: opacity 0.3s ease; /* Added transition for smooth effect */
  display: none;
  overflow-y: auto; /* Enable vertical scrolling */
  color: black; /* Ensure text color is always black */
}

.image-container:hover .member-details {
  display: block;
}

.member-footer {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.member-name,
.member-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Adjusted text color */
}

.member-title {
  margin-top: 5px;
  font-size: 14px;
}

.team-member-separator {
  grid-column: 1 / -1; /* Ensures separator spans the entire width of the grid */
  border-top: 2px solid ;
  margin-top: 20px; /* Margin to separate from previous content */
}

.alumni-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.alumni-container {
  max-width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.alumni-subsection {
  margin-bottom: 30px;
}

.subsection-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subsection-content p {
  margin: 0;
  font-size: 16px;
}
</style>
