{% assign featured_posts = site.posts | where: "featured", true %}

{% if featured_posts.size > 0 and site.data.settings.featured.enable == true %}
<!-- begin featured section -->
<style>
  /* Custom CSS for the exclusive slider */

  .custom-splide .splide__track {
    overflow: hidden;
  }

  .custom-splide .splide__slide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Add spacing between the articles */
  }

  .custom-splide .splide__slide .article-container {
    flex: 1;
    margin: 0;
    box-sizing: border-box;
  }

  .custom-splide .splide__arrows button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .custom-splide .splide__pagination {
    margin-top: 10px;
  }

  .custom-splide .splide__pagination__page.is-active {
    background-color: #333;
  }
</style>

<section class="section blog animate">
  <div class="container">

    <div class="section__info section__info__center">
      <div class="section__head">
        {% if site.data.settings.featured.featured_intro %}
        <span class="section__intro">{{ site.data.settings.featured.featured_intro }}</span>
        {% endif %}
        {% if site.data.settings.featured.featured_title %}
        <h2 class="section__title">{{ site.data.settings.featured.featured_title }}</h2>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div id="custom-splide" class="splide custom-splide">
        <div class="splide__track">
          <ul class="splide__list">
            {% assign sorted_featured_posts = featured_posts | sort: 'date' | reverse %}
            {% for post in sorted_featured_posts %}
              {% if forloop.index0 == 0 or forloop.index0 == 3 or forloop.index0 == 6 %}
                <li class="splide__slide">
              {% endif %}
              <div class="article-container">
                {% include article.html %}
              </div>
              {% if forloop.index0 == 2 or forloop.index0 == 5 or forloop.last %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- end featured section -->

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('#custom-splide', {
      type   : 'loop',
      perPage: 1,  // Display one set of three articles at once
      perMove: 1,  // Move one set per transition
      autoplay: true,
      interval: 3000,
      arrows: false,  // Disable arrows
      pagination: true,
    }).mount();
  });
</script>
{% endif %}
