{% for post in site.posts %}
  {% if post.featured == true %}
    {% assign is-featured = true %}
  {% endif %}
{% endfor %}
 
{% if is-featured == true and site.data.settings.featured.enable == true %}
<!-- begin featured section -->

<section class="section blog animate">
  <div class="container">

    <div class="section__info section__info__center">
      <div class="section__head">
        {% if site.data.settings.featured.featured_title %}
        <span class="section__intro">{{ site.data.settings.featured.featured_title }}</span>
        {% endif %}
      </div>
    </div>

    <div class="row">
    {% assign sorted = site.posts | sort: 'date' | reverse %}
    {% for post in sorted offset:0 limit:3 %}
      {% if post.featured == true %}
        {% include article.html %}
      {% endif %}
    {% endfor %}
    </div>

  </div>
<!-- end featured section -->

</section>
{% endif %}