/* Author */
.author__inner {
  display: flex;
  align-items: center;
}

.author__image {
  width: 50%;
  padding-top: 100%; /* Maintain aspect ratio for responsive images */
  position: relative;
  overflow: hidden;
}

.author__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author__content {
  width: 50%;
  padding-left: 20px; /* Adjust spacing between image and content */
}

@media (max-width: $desktop) {
  .author__inner {
    flex-direction: column;
  }

  .author__image,
  .author__content {
    width: 100%;
  }

  .author__image {
    padding-top: 75%; /* Adjust aspect ratio for smaller screens */
    margin-bottom: 20px; /* Adjust spacing between image and content */
  }
}
