.author__image {
  width: 40%; /* Decrease the width of the image */
  padding-top: 80%; /* Adjust the aspect ratio for responsive images */
  position: relative;
  overflow: hidden;
}

.author__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author__content {
  width: 60%; /* Decrease the width of the content */
  padding-left: 20px; /* Adjust spacing between image and content */
}

.container__author {
  box-sizing: border-box;
  max-width: 800px; /* Decrease the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

@media (max-width: $desktop) {
  .author__inner {
    flex-direction: column;
    align-items: center; /* Center items vertically */
  }

  .author__image,
  .author__content {
    width: 100%; /* Set the width to full for smaller screens */
  }

  .author__image {
    padding-top: 75%; /* Adjust aspect ratio for smaller screens */
    margin-bottom: 20px; /* Adjust spacing between image and content */
  }
}
