/* Hero Section */
.hero {
  margin: 64px 0 96px;
}

.hero__inner {
  max-width: 1078px;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  margin-bottom: 24px;
  font-size: 80px; /* Large title for desktop */
  line-height: 1.2; /* Increased line height for better readability */
  color: var(--heading-font-color);
  word-break: break-word; /* Ensures long words break properly */
}

.hero__description {
  margin: 0 auto;
  max-width: 768px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-alt-color);
}

.hero__avatar {
  width: 48px;
  height: 48px;
  margin: 0 auto 12px;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  background: var(--background-alt-color);
}

.hero__author {
  display: inline-block;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: var(--heading-font-color);
}

.hero__logos {
  max-width: 420px;
  margin: 0 auto;
  margin-top: 32px;
  will-change: transform;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  background: var(--background-color);
}

.hero__logos__inner {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
}

.hero__logo__image {
  position: relative;
  max-width: 100%;
  height: 40px;
}

.hero__logo__image img {
  height: 100%;
  object-fit: cover;
}

/* Responsive Design */
/* Adjustments for Tablet (768px - 1024px) */
@media (max-width: 1024px) {
  .hero {
    margin: 48px 0 80px;
  }

  .hero__author {
    font-size: 21px;
    margin-bottom: 24px;
  }

  .hero__title {
    font-size: 42px; /* Scaled down for tablets */
    line-height: 1.3; /* Adjusted for better wrapping */
  }

  .hero__description {
    font-size: 16px;
  }

  .hero__logos {
    max-width: 100%;
  }
}

/* Adjustments for Mobile (below 768px) */
@media (max-width: 768px) {
  .hero {
    margin: 32px 0 64px;
  }

  .hero__avatar {
    width: 40px; /* Scaled down avatar */
    height: 40px;
    margin: 0 auto 8px;
  }

  .hero__author {
    font-size: 18px; /* Smaller font for mobile */
    margin-bottom: 16px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 28px; /* Smaller title for mobile */
    line-height: 1.4; /* Prevents overlapping */
    word-break: break-word; /* Ensures long titles break properly */
  }

  .hero__description {
    font-size: 14px; /* Adjusted for readability */
    line-height: 1.4;
  }

  .hero__logos {
    margin-top: 16px;
  }
}
