/* General Page Styling */

.page-section-head {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.page-title {
  font-size: 32px;
  margin-bottom: 16px;
}

.page-description {
  font-size: 18px;
  margin-bottom: 0;
}

/* Project Section Styling */
.section.projects {
  padding-bottom: 60px;
}

.project {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
}

.project__content {
  position: relative;
}

.project__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project__label {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-alt-color);
}

.project__title {
  font-size: 24px;
  margin-bottom: 0;
}

/* Year Button Styling */
.year-button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.year-button:hover {
  background-color: #e0e0e0;
}

/* Year Content Styling */
.year-content {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.year-content.active {
  display: block;
}
